apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: rabbitmq-pvc
spec:
  resources:
    requests:
      storage: "256Mi"
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  storageClassName: standard
